@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-main: #FDF6F0;
}

body {
  background-color: var(--bg-main);
  color: #3D2C2C;
  font-family: 'Fredoka', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}